SECRET_KEY=change-me
DEBUG=False
SECURE_SSL_REDIRECT=False
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
DB_NAME=dmoj
DB_USER=dmoj
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me
DB_DATA_DIR=./data/mariadb
STATIC_DIR=./data/static
MEDIA_DIR=./data/media
LOGS_DIR=./logs
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change-me
DJANGO_SUPERUSER_EMAIL=admin@example.com
DMOJ_PROBLEM_DATA_ROOT=/problems
PROBLEMS_DIR=./problems
JUDGE_NAME=skoj-judge
JUDGE_KEY=change-me
DMOJ_RUNTIMES_IMAGE=dmoj/runtimes-tier1:latest
DMOJ_JUDGE_COMMIT=5ef74c5d6cad9efb2e86a5bb8ff2c90aaa6e435c
MOSS_API_KEY=
SOCIAL_AUTH_KEYCLOAK_KEY=
SOCIAL_AUTH_KEYCLOAK_SECRET=
SOCIAL_AUTH_KEYCLOAK_PUBLIC_KEY=
SOCIAL_AUTH_KEYCLOAK_DOMAIN=
SOCIAL_AUTH_KEYCLOAK_REALM=
SOCIAL_AUTH_KEYCLOAK_ALGORITHM=RS256
SOCIAL_AUTH_KEYCLOAK_EXTRA_ARGUMENTS={}
SOCIAL_AUTH_JWT_AUDIENCE=
SOCIAL_AUTH_KEYCLOAK_ID_KEY=email
