\{% extends "base.html" %}

{% block media %}
<style>
    #page-container {
        background: var(--page-bg) !important;
    }
    footer {
        background: var(--page-bg) !important;
    }
    #content .title {
        text-align: center;
        padding-top: 35px;
    }
    p {
        font-size: 18px;
        color: var(--font-basic-black);
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
    <p>
        활성화 메일을 다시 보냈습니다.<br>
        메일의 링크를 눌러 계정을 활성화해 주세요.
    </p>
{% endblock %}
