{% if request.in_contest and request.participation.contest.logo_override_image %}
    <img src="{{ request.participation.contest.logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="44" style="border: none">
{% elif logo_override_image is defined and logo_override_image %}
    <img src="{{ logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="44" style="border: none">
{% else %}
    <span class="site-logo">
        <img src="{{ static('icons/nav-icon-64x64.png') }}" alt="" width="28" height="28" class="site-logo-icon">
        <span>SKOJ</span>
    </span>
{% endif %}
